body{
    display: flex;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.side-image,
.info{
    height: 100vh;
}
.side-image{
    background-image: url(img/leaves.jpg);
    background-size: cover;
    flex-grow: 2;
    width: 33vw;

    display: flex;
    flex-direction: column-reverse;
    gap: 400px;
    color: white;
}

.side-image p {
    text-align: center;
    font-size: 12px;
}

.title{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
}

.title img{
    width: 50px;
}

.info{
    background-color: #f8f8f8;
    flex-grow: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.info > div {
    padding-left: 50px;
    padding-right: 200px;
}

.info p{
    font-weight: bold;
    font-size: 18px;
}

.form-section{
    background-color: white;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 30px;
    box-shadow: 0px 5px 10px #d2d2d4;
}

.input-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-row{
    display: flex;
    margin-right: 200px;
    gap: 50px;
}

.form-input{
    flex: 40%;
    
    display: flex;
    flex-direction: column;;
    font-size: 12px;
    color: #4a4a4a;
}

.form-input input {
    border: 1px solid #E5E7EB;
}

.form-input input:focus{
    border-color: blue;
    outline: none;
    box-shadow: 0px 3px 5px #d2d2d4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button{
    margin-top: 30px;
    margin-left: 50px;
    padding: 10px 30px;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}