body{
    display: flex;
    margin: 0;
}

.side-image,
.info{
    height: 100vh;
}
.side-image{
    background-image: url(img/leaves.jpg);
    background-size: contain;
    flex-grow: 2;
}

.info{
    background-color: pink;
    flex-grow: 3;
}